[submodule "projects/humble_chameleon"]
	path = projects/humble_chameleon
	url = https://github.com/claissg/humble_chameleon
[submodule "projects/phishmonger"]
	path = projects/phishmonger
	url = https://github.com/fkasler/phishmonger
